name: Release
on:
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - name: Release
        id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  
  publish:
    name: Publish
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |

      - name: Build
        run: dotnet build --configuration Release -p:ContinuousIntegrationBuild=true

      - name: Pack GitHub
        run: dotnet pack -c Release --output nupkgs/github -p:ContinuousIntegrationBuild=true

      - name: Pack NuGet
        run: dotnet pack -c Release --output nupkgs/nuget /p:PackagePrefix=Toothless. -p:IncludeSymbols=true -p:SymbolPackageFormat=snupkg -p:DebugType=portable -p:ContinuousIntegrationBuild=true

      - name: NuGet Login
        uses: NuGet/login@v1
        id: nuget-login
        with:
          user: toothless

      - name: Dotnet NuGet Add Source
        run: dotnet nuget add source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" --name github --username ${{ github.repository_owner }} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text

      - name: Dotnet NuGet Push (GitHub)
        run: dotnet nuget push nupkgs/github/*.nupkg --api-key ${{ secrets.GITHUB_TOKEN }} --source github --skip-duplicate

      - name: Dotnet NuGet Push Package (NuGet)
        run: dotnet nuget push nupkgs/nuget/*.nupkg --api-key ${{ steps.nuget-login.outputs.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

      - name: Dotnet NuGet Push Symbols (NuGet)
        run: dotnet nuget push nupkgs/nuget/*.snupkg --api-key ${{ steps.nuget-login.outputs.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate